{%extends 'base.html'%}
{%block content%}
    <h1 id="about-title">About Me</h1>
    <p>Hi, I am Adejumo. I am a student at Alfa qozeem college of ICT.</p>
    <p>I am passionate about web development and I am excited to share my journey with you.</p>
    <p>in my free time i do bla bla bla</p>
    <h2 id="skills-title">My Skills</h2>
    <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
    <h2 id="interests-title">My Interests</h2>
    <ul>
        <li>Web Development</li>
        <li>Mobile Development</li>
        <li>Game Development</li>
        <li>Artificial Intelligence</li>
    </ul>
    <h2 id="hobbies-title">My hobbies</h2>
    <ul>
        <li>Reading</li>
        <li>Writing</li>
        <li>Playing Games</li>
        <li>Watching Movies</li>
    </ul>

{%endblock %}
