    
    
    {% extends 'base.html' %}

    {% block title %}Homepage{% endblock %}


    {% block content %}
        <div style=" display: grid; gap: 10px;">
            <h1>Welcome to my Portfolio</h1>
            <br>
            <h2>This is your first Flask Application</h2>
            <br>
            <h2 style="color: blue;">Hi, I am Adejumo a student </h2>
            <br>
            <p style="color: green;">I am learning Flask and I am enjoying it</p>

            
            <a href="{{url_for('routes.about')}}"><button>Learn more about me</button></a>
            <br>
            <a href="{{url_for('routes.signup')}}"><button>Sign Up</button></a>
            <br>
            <a href="{{url_for('routes.login')}}"><button>Login</button></a>
        </div>
    {% endblock %}
    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}