{%extends "base.html"%}
<style>
    .skill-card {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }
    .skill-title {
        color: #007bff;
    }
</style>

{%block content%}
    <h1>Skills</h1>
    <div style="display: flex; flex-direction: row; gap: 10px;">
        <div class="skill-card">
            <h2 class="skill-title">Python</h2>
            <p>Python is a high-level programming language.</p>
        </div>
        <div class="skill-card">
            <h2 class="skill-title">JavaScript</h2>
            <p>JavaScript is a high-level programming language.</p>
        </div>
        <div class="skill-card">
            <h2 class="skill-title">HTML</h2>
            <p>HTML is a markup language.</p>
        </div>
        <div class="skill-card">
            <h2 class="skill-title">CSS</h2>
            <p>CSS is a styling language.</p>
        </div>
    </div>
{%endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}